
<head>
<!--font--> <style>
  @import url("https://use.typekit.net/npn8sov.css");
    
</style>
    <style>
    p{ font-family: "futura-pt",sans-serif; 
font-style: normal;
font-weight: 500 !important;
color: black;
font-size: 50px!important;}
    </style>
</head>
<% @messages.each do |message| %>
    <p class="chattext"><%= message.parent.name %> - <%= format_time(message.created_at) %> - <%= message.message %> </p>
    <br />
    <br />
<% end %>
<%= form_tag chat_send_url, method: :post %>

<%= hidden_field_tag :recipient, @other_user.uid %>
<%= text_field_tag :message, '', class: 'form-control' %>

<%= submit_tag 'Send', class: 'form-control btn btn-lg btn-primary' %>