<% if @parent.id == @current_user.id %>
    <%= link_to 'Edit your profile', '/edit_profile'%>
    <br />
    <br />
<% end %>
Name - <%= @parent.name %>
<br />
Email - <%= @parent.email %>
<br />
Phone Number - <%= @parent.phone_number %>
<br />
Bio -
<br />
<div class="well well-lg">
    <%= @parent.bio %>
</div>
<br />
<% @parent.job_listings.each do |listing| %>
    <%= render partial: 'shared/job_listing', locals: {listing: listing} %>
    <br />
    <br />
<% end %>

<br />
<br />
<div class="message-user text-center">
    <%= link_to 'Message '+@parent.name, '/chat/'+@parent.uid.to_s %>
</div>