<div class="bg-light" style="font-size: 50px;">
    <% if @parent.id == @current_user.id %>
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5">
                <%= link_to 'Edit your profile', '/edit_profile'%>
            </div>
        </div>
    <% end %>
    <div class="row pic-and-verified">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <%= image_tag 'circle1.png', height: '250px' %>
        </div>
        <div class="col-4 text-center">
            <em>Verified User</em>
        </div>
    </div>
    <div class="row name">
        <div class="col-12 text-center">
            <h2 class="text-center" style="font-size: 75px;"><%= @parent.name %></h2>
        </div>
    </div>
    <div class="row rating">
        <div class="col-12 text-center">
            <strong class="text-center" style="font-size: 40px;">★★★★★ - 500 points</strong>
        </div>
    </div>
    <div class="row distance">
        <div class="col-12 text-center">
            0.5 Miles Away
        </div>
    </div>
    <div class="row message">
        <div class="col-12 text-center">
            <%= link_to 'Message', '/chat/'+@parent.uid.to_s %> * <a href="#">Report</a>
        </div>
    </div>
    <br />
    <div class="row current-need bg-light">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <h3>Current Need</h3>
            </div>
            <% @parent.job_listings.each do |listing| %>
                <%= render partial: 'shared/job_listing', locals: {listing: listing} %>
                <br />
                <br />
            <% end %>
        </div>
    </div>
    <div class="row mutual-friend bg-light">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <h3>Mutual Friends</h3>
                <div class="col-md-12 bg-white">
                    <div class="row">
                        <div class="col-4 text-center">
                            <%= image_tag 'circle2.png', height: '50px'%>
                            <br />
                            Sam
                        </div>
                        <div class="col-4 text-center">
                            <%= image_tag 'circle3.png', height: '50px' %>
                            <br />
                            Sarah
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row child-info bg-light">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
            <h3>Child Info</h3>
                <div class="col-12 bg-white">
                    <%= @parent.bio %>
                </div>
            </div>
        </div>
    </div>
</div>