<div class="row text-white" style="background-color: #267ABF;">
    <div class="col-3 text-center">
        <%= link_to 'Swap Sitter', '/', class: 'text-white text-center' %>
    </div>
    <div class="col-3 text-center">
        <%= link_to 'Messages', '/messages', class: 'text-white text-center' %>
    </div>
    <div class="col-3 text-center">
        <%= link_to 'New Post', '/new_job', class: 'text-white text-center'%>
    </div>
    <div class="col-3 text-center">
        <div id="user-widget">
            <% if current_user %>
                Welcome <%= link_to @current_user.name, '/parent/'+@current_user.uid.to_s, class: 'text-white' %>
                <%= link_to "Sign out", signout_path, id: "sign_out", class: 'btn btn-sm btn-danger' %>
                <% else %>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: 'text-white' %>
            <% end %>
        </div>
    </div>
</div>